{% extends "base.html" %}
{% block title %}{% if ads %}Редактировать объявление{% else %}Разместить объявление{% endif %}{% endblock %}
{% block content %}
{% load user_filters %}

<div class="row justify-content-center">
    <div class="col-md-10 p-4">
        <div class="card">
            <div class="card-header">{% if ads %}Редактировать объявление{% else %}Разместить объявление{% endif %}</div>
            <div class="card-body">

                {% for error in form.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error|escape }}
                  </div>
                {% endfor %}

                <form method="post" enctype="multipart/form-data" action={% if ads %}"{% url 'ads_edit' ads.city.city_slug ads.category.cat_slug ads.id %}"{% else %}"{% url 'ads_new' %}"{% endif %}>
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                            <label for="{{ field.id_for_label }}" class="col-md-3 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                            <div class="col-md-8 offset-md-0">
                                {{ field|addclass:"form-control" }}
                                {% if field.help_text %}
                                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-md-10 offset-md-10">
                        <button type="submit" class="btn btn-primary">
                            {% if ads %} Сохранить {% else %} Добавить {% endif %}
                        </button>
                    </div>
                </form>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}